/* src/App.css */
body {
  background-image: url('C:\xampp\htdocs\CSE470_Project\cse470_frontend\public\1000_F_198506301_zS7IDI4YU7kW0zFVagjTwl8AVI7lZvjP.jpg'); /* Path to your background image */
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the background image */
  background-attachment: fixed; /* Fixes the background image in place */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #ffffff; /* Adjust text color for better visibility on the background */
}

.App {
  text-align: center;
  padding: 20px;
}

.App h1{
  text-align: center;
  padding: 20px;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Centers the text horizontally */
  text-align: center;
}

.staff-login {
  position: absolute;  /* Position independently */
  right: 20px;        /* Distance from right edge */
  top: 20px;          /* Distance from top */
  font-size: 1em;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.staff-login:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.staff-login:active {
  background-color: #39903d;
}

h1 {
  margin: 20px 0;
  font-size: 2.5em;
}

button {
  font-size: 1.5em; /* Make the button text larger */
  padding: 15px 30px; /* Increase padding for a larger button */
  background-color: #825149; /* Use a cool color for the background */
  color: white; /* Set text color to white */
  border: none; /* Remove default border */
  border-radius: 8px; /* Add rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
  background-color: #73453e; /* Darken the button color on hover */
  transform: scale(1.1); /* Slightly enlarge the button on hover */
}

button:active {
  background-color: #5c3831; /* Darken further when clicked */
}
